/* css styling, uses bootstrap min.css*/

body {
      font: 28px Montserrat, sans-serif;
      line-height: 1.8;
      color: deepskyblue;
  }
#map-container { height: 650px;
    width: 65%;}
    
  p {font-size: 28px;}
  .margin {margin-bottom: 45px;}  
         <style>
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: deepskyblue; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
      .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

.bg-4 { 
    background-color: #2f2f2f; /* Black */
    color: #ffffff;
}
             
