<!DOCTYPE html>
<html>   
<head>
<!--example of url_for for stylesheets here: https://www.youtube.com/watch?v=8aTgOs_cv2g&list=PLQVvvaa0QuDc_owjTbIY4rbgXOFkUYOUB&index=3-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static',
    filename='CSS_bikes.css') }}" rel="stylesheet" >
     <link rel="icon" href="{{url_for('static',
    filename='icon.ico') }}" rel="stylesheet" >
     <title>Dublin Bikes Team13</title>
    </head>
     <body>
         
            
         <div id="container">
         <div id="article">
      <div id="map" style="width:800px;height:900px;"> </div>
             </div>
         <div id="articleright"></div>
             <div id="php_placeholder"></div>
          </div>

<!--sourced example for mulitple markers from here: https://developers.google.com/maps/documentation/javascript/examples/icon-complex-->
        <!-- https://hashnode.com/post/google-maps-api-onclick-on-marker-close-infowindow-of-other-markers-ciou68dw708x33353les71nyi-->

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEmlHrsfVqNd08B7msqSlM-KxogOEjo8g&callback=initMap"></script>
         
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
         
<script>

var xmlhttp = new XMLHttpRequest();
var url = "http://api.openweathermap.org/data/2.5/forecast?id=7778677&units=metric&APPID=7dc97eec8449218feec4838d26264d0b";
xmlhttp.onreadystatechange = function() {
if (xmlhttp.readyState == 4 && xmlhttp.status == 200) 
displayJSON(xmlhttp.responseText);}
    
xmlhttp.open("GET", url, true);
xmlhttp.send();
 
function displayJSON(obj) {
var obj = JSON.parse(obj)
var list=obj.list;
var i
var output = "<table>";
for (var i=0; i<list.length; i+=8) 
{var date = new Date((obj.list[i].dt)*1000);
var temp = obj.list[i].main.temp;
var icon = obj.list[i].weather[0].icon;
var iconshow = ("<img src='http://openweathermap.org/img/w/" + icon + ".png'>");
output += "<tr><td>" +date.toDateString()+" "+iconshow+temp +"°C"+"</td></tr>";}
output +="</table>";
document.getElementById("articleright").innerHTML= output;}
       

function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {zoom: 14,center: {lat: 53.3498, lng: -6.2603}
});

    $.getJSON("http://localhost:5000/stations", null, function(stations) {
            var stations = stations.stations;
        console.log('stations', stations);
  for (var i = 0; i < stations.length; i++) {
    var station = stations[i];
    var marker = new google.maps.Marker({
      position: {
          lat: station.lat, 
          lng: station.lon},
      map: map,
      title: station.name,
    });
    };
        });}
                 
            
 </script>
                      
    </body>
        
</html>