<!DOCTYPE html>
<html>   
<head>

<title>Dublin Bikes Team13</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>


<style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: deepskyblue;
  }
#map-container { height: 650px;
    width: 60%;}
    
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}  
         <style>
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: deepskyblue; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
      .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
</style>
         <style>
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
             
</style>

        
 </head>
   
    <body>
        
     

   <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->

        
         <div class="container-fluid bg-1 text-center">
         <h1> Dublin Bikes Team 13</h1>
             </div>
         
         <div class="container-fluid bg-2 text-center">
          <div class="btn-group">  
<div class="dropdown">
    <button class="btn btn-info dropdown-toggle btn-lg" type="button" data-toggle="dropdown">Bike Availability
    <span class="caret"></span></button>
    
    <ul class="dropdown-menu">
        <form>
      <li class="dropdown-header">Average availability</li>
      <li><a href="PeakPage">Peak</a></li>
      <li><a href="OffPeakPage">Off-peak</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Current availability</li>
      <li><a href='main'>Now</a></li>
        </form>
    </ul>
    

    <button type="button" class="btn btn-primary btn-lg" onclick="showWeather()">Weather forecast</button>
  </div>
        </div>
        </div>
<div class="container-fluid bg-3 text-center">
    
         <div id="map-container" class="col-md-6"></div>
            
 <div class="row">
    <div class="col-sm-4">
        <div id="weather"></div>
    </div>
    </div>
        </div>
    </body>    
         
<footer class="container-fluid bg-4 text-center">
  <p>Copyright Dublin Bikes Team 13 2017</p> 
</footer>

       
    <script>

var xmlhttp = new XMLHttpRequest();
var url = "http://api.openweathermap.org/data/2.5/forecast?id=7778677&units=metric&APPID=7dc97eec8449218feec4838d26264d0b";
xmlhttp.onreadystatechange = function() {
if (xmlhttp.readyState == 4 && xmlhttp.status == 200) 
displayJSON(xmlhttp.responseText);}
    
xmlhttp.open("GET", url, true);
xmlhttp.send();
 
function displayJSON(obj) {
var obj = JSON.parse(obj)
var list=obj.list;
var i
var output = "<table>";
for (var i=0; i<list.length; i+=8) 
{var date = new Date((obj.list[i].dt)*1000);
var temp = obj.list[i].main.temp;
var icon = obj.list[i].weather[0].icon;
var iconshow = ("<img src='http://openweathermap.org/img/w/" + icon + ".png'>");
output += "<tr><td>" +date.toDateString()+" "+iconshow+temp +"°C"+"</td></tr>";}
output +="</table>";
document.getElementById('weather').innerHTML= output;}
    
function showWeather() {
    var x = document.getElementById('weather');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

 

function initMap() {
var map = new google.maps.Map(document.getElementById('map-container'), {zoom: 14,center: {lat: 53.3498, lng: -6.2603}
});
 var marker;
  
    
         var heatmap = $.getJSON("http://localhost:5000/peak", null,function(peak_avail) {
             var heatmapData = [];
             var peak_avail = peak_avail.peak_avail;
             for (var i = 0; i<peak_avail.length; i++) {
          var latLng = new google.maps.LatLng(peak_avail[i].lat, peak_avail[i].lon);
       var weight;      
      var magnitude = parseInt(peak_avail[i].available_bikes);
         switch(magnitude){
          case magnitude=0:
          weight=0;
          break;
          case magnitude>=6:
          weight=100;
          break;
          default:
          weight=5;
      }
      var weightedLoc = {
        location: latLng,
        weight: weight
      };
                 
       
      heatmapData.push(weightedLoc);
    }
         
            var heatmap = new google.maps.visualization.HeatmapLayer({
                   data: heatmapData,
                  map: map 
              });
                              
          
             heatmap.set('radius', 40);
             heatmap.setMap(map);
                                 
                                 });
    
    $.getJSON("http://localhost:5000/stations", null, function(stations) {
            var stations = stations.stations;
        console.log('stations', stations);
  for (var i = 0; i < stations.length; i++) {
    var station = stations[i];
      
      marker = new google.maps.Marker({
      position: {
          lat: station.lat, 
          lng: station.lon},
      map: map,
      title: station.name.toString(),
      });
      var infoWindow =new google.maps.InfoWindow();
      setInfoWindow();
  
    var markers = []; 
      markers.push(marker);
  
        function setInfoWindow(){
         
            $('a#marker').bind('click',function(){
        $.getJSON("http://localhost:5000/url_for{{'one_station', (number)}}", null, 
        function (one_station){
       google.maps.event.addListener(marker, 'click', function (map, marker) {
           var data= one_station.index;
           var station_no = data.number.toString();
           var bikes = data.available_bikes.toString();
            var contentString=station_no+""+bikes;
            infoWindow.setContent(contentString);
            infoWindow.open(map, this); 
       });
        });
            
    });


    }};
    
});
}


 </script>
                      
  <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEmlHrsfVqNd08B7msqSlM-KxogOEjo8g&callback=&libraries=visualization&callback=initMap"></script> 
      
</html>